:root {
  font-size: 62.5%;
  --background-color: rgb(255, 255, 255);
  --card-background-color: rgb(218, 218, 233);
  --text-color-100: rgb(26, 26, 133);
  --text-color-200: rgb(18, 18, 117);
  --text-color-300: rgb(8, 8, 87);

  --text-card-heading: 2rem;
  --text-card-paragraph: 1.5rem;

  --card-text-weight: 400;
  --card-text-weight: 600;

  --text-heading-font: "Roboto", sans-serif;
  --text-paragraph-font: "Poppins", monospace;
}

.note {
  background-color: var(--card-background-color);
  color: var(--text-color-300);
  font-size: var(--text-card-heading);
  font-family: var(--text-paragraph-font);
  border-radius: 0.4rem;
  padding: 1.6rem;
  min-height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
